html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

body{
  background-color: #181818;
  font-size: 17px;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: #282c34;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(110.42deg, #CF57A3 29.2%, #4731B6 63.56%);
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(11.42deg, #CF57A3 29.2%, #4731B6 63.56%);
}



button, textarea, input{
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.reg-link{
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  margin-top: -1.5rem;
  margin-bottom: .8rem;
  text-decoration: underline;
}
.page-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 999;
  animation: fadeOut 2s ease-in-out forwards;
}


.reg-link a:hover{
  color: #7263F3;
}

.load-more{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  margin-top: 1rem;
}

.main-title{
  font-size: 1.3rem;
  font-weight: 700;
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-right: 1.5rem;
}

.loading-con{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


/* Track */
pre::-webkit-scrollbar-track {
  background: #282c34;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Handle */
pre::-webkit-scrollbar-thumb {
  background: linear-gradient(110.42deg, rgba(207, 87, 163, 0.63) 29.2%, rgba(71, 49, 182, 0.63) 63.56%);
  border-radius: 15px;
}


.snippet-form textarea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.snippet-form textarea::-webkit-scrollbar-track {
 
}

/* Handle */
.snippet-form textarea::-webkit-scrollbar-thumb {
  background: linear-gradient(110.42deg, rgba(207, 87, 163, 0.63) 29.2%, rgba(71, 49, 182, 0.63) 63.56%);
  border-radius: 15px;
}

/* Handle on hover */
.snippet-form textarea::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(110.42deg, #CF57A3 29.2%, #4731B6 63.56%);
}






